.hero {
  background-color: var(--main-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../../images/background_image_mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 112px 0;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../../images/background_image_mobile@2x.jpg');
  }
}

.hero-title {
  color: var(--text-btn-color);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 320px;
  margin: 0 auto 72px;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  background: var(--accent-color);
  color: var(--text-btn-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  border: none;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  transition: background-color var(--transition-dur-func);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--active-color);
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../../images/background_image_tablet.jpg');
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
    max-width: 496px;
    margin: 0 auto 36px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../../images/background_image_tablet@2x.jpg');
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../../images/background_image.jpg');

    padding: 188px 0;
  }

  .hero-title {
    margin: 0 auto 48px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../../images/background_image@2x.jpg');
  }
}
