.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 24px;
  row-gap: 16px;
  padding-right: 60px;
  margin-bottom: 48px;
}

.filters-button {
  background: var(--secondary-color);
  color: var(--accent-color);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid var(--another-color);
  transition: color 250ms var(--transition-dur-func),
    background-color 250ms var(--transition-dur-func),
    border-color 250ms var(--transition-dur-func),
    box-shadow 250ms var(--transition-dur-func);
}

.filters-button:hover,
.filters-button:focus {
  background: var(--active-color);
  color: var(--text-btn-color);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.card-list-link {
  display: block;
  transition: box-shadow var(--transition-dur-func);
}

.card-list-link:hover,
.card-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--secondary-color);
  padding: 40px 32px;
  text-align: center;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform var(--transition-dur-func);
}

.card-list-link:hover .overlay,
.card-list-link:focus .overlay {
  transform: translateY(0%);
}

.card-wrapper {
  border: 1px solid var(--another-color);
  background: var(--text-btn-color);
  padding: 32px 16px;
  border-top: none;
}

.card-name {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.card-referral {
  color: var(--third-color);
}

@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .filters-list {
    flex-wrap: nowrap;
    justify-content: center;
    padding-right: 0px;
    margin-bottom: 64px;
  }

  .filters-button {
    padding: 12px 24px;
  }

  .card-list {
    row-gap: 72px;
  }

  .card-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .filters-list {
    margin-bottom: 72px;
  }

  .card-list {
    row-gap: 48px;
  }

  .card-list-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}
